@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie Submitted";
}
@model Film_Collection.Models.MovieRatings

<h3>Thank you for your submission!</h3>